* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.header {
    width: 100%;
    margin-top: 10px;
}

.container {
    width: 100%;
    max-width: 1170px;
    padding: 0 15px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 -15px;
}

.header-logo {
    width: 40%;
}

.header-logo a {
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    font-size: 22px;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    display: block;
    cursor: pointer;
    letter-spacing: 2px;
    padding-left: 15px;
}

.header-menu {
    width: 60%;
}

.header-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header-menu ul li {
    float: left;
    padding: 8px;
}

.header-menu ul li .menu-item {
    text-decoration: none;
    text-transform: capitalize;
    color: #fff;
    background-color: #333;
    display: block;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    padding: 8px 20px;
    position: relative;
}

.header-menu ul li .nav-link {
    text-decoration: none;
    text-transform: capitalize;
    color: #333;
    display: block;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    padding: 8px 20px;
    transition: all .4s ease-in-out;
}

.header-menu .nav-link:hover {
    background-color: #333;
    color: #f6fbff;
}

.header-menu a {
    display: none;
}

.banner {
    width: 100%;
    margin: 40px 0;
}

.inner {
    background-color: #f6fbff;
    padding: 0 80px;
}

.column {
    width: 40%;
    padding: 0 15px;
}

.image img{
    width: 100%;
}

.home-banner {
    width: 60%;
}

.inner {
    padding: 0 60px;
}

.inner h2 {
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-size: 45px;
    font-weight: 700;
    margin: 0;
    color: #333;
    position: relative;
    padding-bottom: 15px;
}

.inner h2::before {
    content: "";
    width: 70px;
    height: 4px;
    position: absolute;
    background-color: #333;
    bottom: 0;
    left: 0;
}

.inner p {
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
    font-size: 21px;
    font-weight: 300;
    margin: 0;
    color: #7d7789;
    padding: 25px 0;
}

.inner p span {
    color: #333;
    font-weight: 600;
}

.get-btn {
    width: 100%;
    padding: 10px 0;
}

.get-btn a {
    text-decoration: none;
    text-transform: capitalize;
    background-color: #333;
    color: #fff;
    padding: 14px 30px;
    font-size: 14px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    display: inline-block;
    transition: all .4s ease-in-out;
    border: 2px solid #333;
}

.get-btn a:hover {
    background-color: #fff;
    color: #333;
}

.heading-line {
    width: 100%;
}

.line-row {
    align-items: center;
    display: flex;
    padding: 40px 0 12px 0;
}

.line-item {
    width: 25%;
}

.line {
    width: 75%;
    margin-right: 50px;
}

.programming-line {
    width: 75%;
    margin: 0 50px;
}

.line-inner {
    width: 100%;
    height: 2px;
    background-color: #b1aeb8;
}

.line-item h3 {
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #333;
    letter-spacing: 6px;
    padding: 32px 0;
    margin: 0;
}

.about-block {
    width: 100%;
    padding-bottom: 37px;
}

.my-bio-row,
.language-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.about-bio {
    width: 50%;
}

.bio {
    width: 100%;
    padding: 0 55px 0 0;
}

.bio p {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    color: #7d7789;
    margin: 0;
    padding: 0 14px 32px;
}

.about-row,
.partner-row {
    display: flex;
    flex-wrap: wrap;
}

.about-me {
    width: 20%;
}

.my-name {
    padding: 0 0 15px;
}

.my-name p {
    margin: 0;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    color: #7d7789;
    padding: 0;
}

.my-bio {
    width: 80%;
}

.service-inner {
    width: 50%;
    background-color: #f6fbff;
}

.service-row {
    display: flex;
}

.line-block {
    width: 50%;
}

.service-inner {
    width: 100%;
}

.line-row {
    display: flex;
    align-items: center;
}

.heading {
    width: 40%;
}

.heading h4 {
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #333;
    letter-spacing: 6px;
    padding: 17px 0;
    margin: 0;
}

.service-line {
    width: 60%;
    margin: 0 50px;
}

.list-box {
    width: 100%;
}

.list-box ul {
    padding: 0;
}

.list-box ul li  {
    list-style: none;
}

.list-box ul li a {
    list-style: none;
    text-decoration: none;
    line-height: 30px;
    text-transform: capitalize;
    margin: 0;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    color: #7d7789;
}

.list-box ul li a i {
    padding-right: 10px;
    font-size: 20px;
}

.interests-row {
    float: right;
}

.html-line {
    width: 60%;
}

.javascript-line {
    width: 85%;
}

.wordpress-line {
    width: 90%;
}

.html-row {
    display: flex;
    justify-content: space-between;
}

.html-item {
    width: 30%;
}

.html-item p {
    margin: 0;
    padding: 17px 0;
    color: #7d7789;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
}

.html-inner {
    width: 5%;
}

.html-inner p {
    margin: 0;
    padding: 15px 0;
    color: #7d7789;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
}

.meter {
    width: 100%;
    height: 3px;
    background-color: #00000012;
    border-radius: 50px;
}

.meter-inner {
    width: 60%;
    height: 100%;
    background-color: #7d7789;
}

.Javascript-inner {
    width: 85%;
    height: 100%;
    background-color: #7d7789;
}

.wordpress-inner {
    width: 90%;
    height: 100%;
    background-color: #7d7789;
}

.language-block {
    width: 25%;
    padding: 0 15px;
}

.language-inner {
    width: 150px;
    height: 150px;
    position: relative;
    left: 20%;
    border: 3px solid #7d7789;
    border-radius: 50%;
}

.language-inner-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.language-circle {
    text-align: center;
}

.language-inner span {
    color: #7d7789;
    font-size: 17px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}

.partner-block {
    width: 25%;
}

.partner-image {
    text-align: center;
    border: 1px solid #c6d2dd;
    padding: 32px;
    transition: all .4s ease-in-out;
}

.partner-image img {
    opacity: 0.4;
    transition: all .4s ease-in-out;
}

.partner-image:hover img {
    opacity: 1;
}

.testimonials-row {
    display: flex;
    margin: 0 -15px;
}

.testimonials-block {
    width: 50%;
    padding: 0 15px;
}

.testimonials-inner {
    border: 1px solid #c6d2dd;
    height: 100%;
}

.testimonials-inner p {
    margin: 0;
    padding: 35px 44px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    color: #7d7789;
    font-weight: 400;
    line-height: 28px;
}

.portfolio-heading {
    width: 30%;
}

.portfolio-heading h3 {
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #333;
    letter-spacing: 6px;
    padding: 32px 0;
    margin: 0;
}

.portfolio-line {
    width: 70%;
}

.portfolio-row {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.portfolio-block {
    width: 33.333%;
    padding: 15px;
}

.portfolio-img img {
    width: 100%;
}

.portfolio-img {
    position: relative;
    transition: all .4s ease-in-out;
}

.portfolio-img:hover .overlay{
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
} 

.overlay {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 30px 20px;
    transition: all .4s ease-in-out;
    transform: translateY(100%);
    visibility: hidden;
    opacity: 0;
}

.overlay-inner {
    background-color: #fff;
    padding: 15px;
}

.overlay-inner h4 {
    text-transform: capitalize;
    font-size: 17px;
    color: #333;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    padding: 0 0 5px;
    margin: 0;
}

.overlay-inner p {
    font-size: 15px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: #7d7789;
    margin: 0;
}

.service-wrap {
    width: 100%;
    margin: 0 0 20px;
}

.srvce-row {
    display: flex;
    flex-wrap: wrap;
    margin: -15px -15px;
}

.srvce-block {
    width: 33.33%;
    padding: 15px 15px;
}

.srvce-inner {
    text-align: center;
    padding: 50px 0;
    border: 1px solid #c6d2dd;
    transition: all .4s ease-in-out;
}

.srvce-inner img {
    padding: 0 0 18px;
    transition: all .4s ease-in-out;
}

.srvce-inner h3 {
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 500;
    margin: 0;
    padding: 10px 0;
    color: #333;
    transition: all .4s ease-in-out;
}

.srvce-inner p {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 10px 30px;
    color: #7d7789;
    line-height: 23px;
    transition: all .4s ease-in-out;
}

.srvce-inner:hover {
    background-color: #333;
}

.srvce-inner:hover img,
.srvce-inner:hover h3 {
    filter: brightness(0) saturate(100%) invert(96%) sepia(95%) saturate(1%) hue-rotate(139deg) brightness(103%) contrast(100%);
}

.srvce-inner:hover p {
    color: #c6d2dd;
}

.contact-row {
    display: flex;
    flex-wrap: wrap;
    margin:0 -15px;
}

.contact-column {
    width: 33.33%;
    padding: 0 15px;
}

.contact-wrap {
    border: 1px solid rgba(193, 190, 190, 0.694);
    text-align: center;
    padding: 20px 0;
}

.contact-wrap p {
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin: 0;
    padding: 13px;
    color: #7d7789;
}

.contact-img i {
    font-size: 20px;
    color: #7d7789;
}

.contact-wrap a {
    text-decoration: none;
    padding: 13px 5px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #7d7789;
    display: block;
    word-wrap: break-word;
}

.form-inner {
    margin: 15px 0;
}

.form-row {
    display:flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.form-column {
    width: 50%;
    padding: 0 15px;
}

.form-item {
    margin: 10px 0 30px;
}

.form-item input {
    width: 100%;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 500;
    height: 43px;
    padding: 5px;
    outline: none;
    border: 1px solid rgba(193, 190, 190, 0.694);
    color: #7d7789;
    background-color: transparent;
}

.form-item textarea {
    width: 100%;
    height: 100px;
    resize: none;
    padding: 7px;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 500;
    outline: none;
    color: #7d7789;
    background-color: transparent;
    border: 1px solid rgba(193, 190, 190, 0.694);
}

.map, .footer {
    width: 100%;
}

.footer-row {
    display: flex;
    justify-content: space-between;
}

.footer-item {
    width: 20%;
}

.footer-item p {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    color: #7d7789;
}

.footer-icon {
    width: 8%;
}

.footer-icon i {
    font-size: 18px;
    padding:0 12px 0 0;
    cursor: pointer;
}

@media (max-width: 1199px) {
    .container {
        max-width: 960px;
    }
    .banner {
        margin: 10px 0;
    }
    .header-logo {
        width: 30%;
    }
    .header-menu {
        width: 70%;
    }
    .header-menu ul li .menu-item {
        font-size: 13px;
    }
    .header-menu ul li .nav-link {
        font-size: 14px;
        padding: 8px;
    }
    .inner h2 {
        font-size: 38px;
    }
    .inner p {
        font-size: 19px;
    }
    .get-btn a{
        padding: 9px 19px;
    }
    .bio p,
    .my-name p, 
    .list-box ul li a, 
    .html-item p, 
    .html-inner p, 
    .srvce-inner p,
    .contact-wrap p,
    .contact-wrap a{
        font-size: 14px;
    }
    .list-box ul li a i {
        font-size: 16px;
    }
    .about-block {
        padding-bottom: 20px;
    }
    .testimonials-inner p {
        font-size: 14px;
        padding: 26px;
    }
    .language-inner {
        width: 140px;
        height: 140px;
        left: 5%;
    }
    .portfolio-heading,
    .portfolio-line {
        width: 50%;
    }
    .srvce-inner {
        padding: 20px 0;
    }
    .srvce-inner h3 {
        font-size: 20px;
    }
    .form-item input,
    .form-item textarea {
        font-size: 14px;
        padding: 13px;
    }
    .footer-icon {
        width: 10%;
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 720px;
    }
    .line-item {
        width: 30%;
    }
    .srvce-inner img {
        padding: 0;
    }
    .srvce-inner {
        padding: 15px 0;
    }
    .srvce-inner h3 {
        font-size: 16px;
        padding: 10px;
    }
    .srvce-inner p {
        font-size: 13px;
        padding: 0 13px;
    }
    .contact-wrap {
        padding: 10px 0;
    }
    .form-item{
        margin: 10px 0 25px;
    }
    .form-item input {
        height: 33px;
        font-size: 13px;
        padding: 7px;
    }
    .form-item textarea {
        height: 88px;
        font-size: 13px;
        padding: 7px;
    }
    .map iframe {
        height: 296px;
    }
    .get-btn a {
        padding: 9px 11px;
        font-size: 13px;
    }
    .footer-icon {
        width: 13%;
    }
    .footer-icon p {
        width: 14px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 540px;
    }
    .inner {
        padding: 0 25px;
    }
    .inner h2 {
        font-size: 30px;
    }
    .inner p {
        font-size: 17px;
    }
    .line-row {
        padding: 19px 0 12px 0;
    }
    .bio p,
    .my-name p,
    .html-item p,
    .html-inner p,
    .srvce-inner p {
        font-size: 14px;
    }
    .language-inner {
        left: 0;
    }
    .language-block {
        width: 50%;
        padding: 0 89px;
    }
    .partner-block,
    .portfolio-block {
        width: 50%;
    }
    .testimonials-inner p {
        font-size: 14px;
        padding: 17px 24px;
        line-height: 23px;
    }
    .contact-wrap p {
        font-size: 14px;
        padding: 8px;
    }
}

@media (max-width: 575px) {
    .container {
        max-width: 100%;
    }
    .header-logo {
        width: 95%;
    }
    .header-menu {
        width: 5%;
    }
    .header-menu ul li {
       display: none;
    }
    .header-menu a {
        font-size: 20px;
        color: #333;
        display: block;
    }
    .about-bio,
    .partner-block,
    .portfolio-block,
    .srvce-block,
    .form-column {
        width: 100%;
    }
    .language-block {
        padding: 0 46px;
    }
    .my-name {
        padding-left: 10px;
    }
    .programming-line {
        margin: 0 66px;
    }
    .testimonials-block {
        padding: 0 6px;
    }
    .testimonials-inner p {
        padding: 17px;
        line-height: 21px;
    }
    .srvce-inner p {
        padding: 0 25px;
    }
    .contact-column {
        width: 100%;
        padding: 10px 15px;
    }
    .get-btn {
        padding-bottom: 20px;
    }
    .footer-item {
        width: 28%;
    }
    .footer-item p {
        font-size: 14px;
    }
    .footer-icon {
        width: 19%;
    }
    .footer-icon i {
        font-size: 16px;
    }
}

@media (max-width: 479px) {
    .inner h2 {
        font-size: 24px;
    }
    .inner h2::before {
        width: 52px;
        height: 3px;
    }
    .inner p,
    .line-item h3,
    .html-item p {
        font-size: 15px;
        padding: 12px 0;
    }
    .srvce-inner p {
        padding: 12px;
    }
    .get-btn {
        padding-bottom: 30px;
    }
    .get-btn a {
        padding: 6px;
    }
    .line-item,
    .line {
        width: 50%;
    }
    .line-item{
        font-size: 15px;
    }
    .bio {
        padding-left: 49px;
    }
    .bio p {
        font-size: 14px;
        padding: 8px 0;
    }
    .about-block {
        padding: 22px 0;
    }
    .about-me {
        width: 20%;
    }
    .my-bio {
        width: 80%;
    }
    .my-name {
        padding-left: 10px;
        padding-bottom: 10px;
    }
    .my-name p {
        font-size: 14px;
        padding: 0 0 0 38px;
    }
    .programming-line {
        margin: 0 38px;
    }
    .portfolio-heading h3 {
        letter-spacing: 4px;
    }
    .language-inner {
        width: 100px;
        height: 100px;
    }
    .language-inner span {
        font-size: 14px;
    }
    .testimonials-inner p {
        font-size: 14px;
        padding: 12px;
    }
    .footer-item {
        width: 34%;
    }
    .footer-icon {
        width: 23%;
    }
    .footer-item p {
        font-size: 13px;
    }
}